body {
  margin: 0;
  background: #100e17;
  font-family: Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
h1 {
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 3em;
}
