.about-content{
    display: grid;
    grid-template-columns: 40% 60%;

    .profile-image{
        width: 85%;
        height: 85%;
        justify-self: center;
        align-self: center;
    }

    .aboutme{
        width: 100%;
        color: $primary;
        font-family: $font;
        font-size: 1.4rem;

        h2{
            margin-bottom: 1rem;
            padding: 0 25px;
            padding-top: 50px;
        }

        p{
            margin-bottom: 2rem;
            padding: 0 25px;
            padding-right: 50px;
        }
    }
}