@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$primary: #28b76b;
$secondary: #5d6778;
$dark: #111111;
$light: #f4f4f4;
$success: #5cb377;
$danger: #d26d69;

$font: 'Poppins', sans-serif;