@keyframes fadeContact{
    from{ opacity: 0 }
    to{ opacity: 1 }
}

.contact-content{
    img{
        animation: fadeContact 1.25s ease-in-out backwards 0.25s;
    }

    $el: 5;
    @for $j from 0 to $el {
        .contact-me{
            div:nth-child(#{$j}) {
                animation: fadeContact 0.5s ease backwards (0.25s + ($j * 0.2s));
            }
        }
    }
}

@media only screen and (max-width: 1023px){
    .contact-content{
        .contact-me{
            display: grid;
            color: $dark;
            grid-template-rows: 90px 90px 90px 90px;
            justify-content: center;
            align-items: center;;
    
            div{
                color: $dark;
                text-align: center;
                margin: 25px 0;

                i{
                    font-size: 1.3em;
                }

                h3{
                    font-size: 1.1em;
                }

                p{
                    font-size: 1em;
                }
    
                a:last-child{
                    color: $dark;
                    text-decoration: none;
                }
            }
        }

        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 97.5%;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px){
    .contact-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        .contact-me{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 97.5%;
            color: $dark;
    
            div{
                width: 100%;
                color: $dark;
                text-align: center;
                padding: 15px 0;
                margin: 25px 0;

                i{
                    font-size: 1.3em;
                }

                h3{
                    font-size: 1em;
                }

                p{
                    font-size: 1em;
                }
    
                a:last-child{
                    color: $dark;
                    text-decoration: none;
                }
            }
        }
    
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 95%;
        }
    }
}

@media screen and (min-width: 1367px) and (max-width: 1919px){
    .contact-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        .contact-me{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 97.5%;
            color: $dark;
            
            div{
                width: 100%;
                color: $dark;
                text-align: center;
                padding: 15px 0;
                margin: 35px 0;

                i{
                    font-size: 1.3em;
                }

                h3{
                    font-size: 1em;
                }

                p{
                    font-size: 1em;
                }
    
                a:last-child{
                    color: $dark;
                    text-decoration: none;
                }
            }
        }
    
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 95%;
        }
    }
}

@media screen and (min-width: 1920px){
    .contact-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        .contact-me{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 97.5%;
            color: $dark;
    
            div{
                width: 100%;
                color: $dark;
                text-align: center;
                padding: 35px 0;

                i{
                    font-size: 2em;
                }

                h3{
                    font-size: 1.75em;
                }

                p{
                    font-size: 1.5em;
                }
    
                a:last-child{
                    color: $dark;
                    text-decoration: none;
                }
            }
        }
    
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 95%;
        }
    }
}