.dropdown{
    position: absolute;
    display: grid;
    color: $light;
    // top: 16%;
    // left: 2.5%;

    // font-size: 1.5em;
}

.bars{
    cursor: pointer;
    padding: 1px 10px;
    background-color: $primary;
}

.bars:hover{
    color: darken($light, 10);
}

#dropdown-items{
    
    margin-top: 0;
    background-color: darken($light, 10);
    z-index: 2;

    p{
        padding: 0 30px;
        text-align: center;
        margin: 0;
        font-size: 0.5em;
    }
    p:hover{
        cursor: pointer;
        background-color: lighten($light, 20);
    }
}

.hidden{
    visibility: hidden;
}

@media only screen and (max-width: 1023px){
    .dropdown{
        top: 1%;
        left: 1%;
        font-size: 2em;
        text-align: left;
    }

    #dropdown-items{
        margin-top: 0;
        background-color: darken($light, 10);
        z-index: 2;
    
        p{
            font-size: 0.75em;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px){
    
}

@media screen and (min-width: 1367px) and (max-width: 1919px){
    
}

@media screen and (min-width: 1920px){
    
}