.projects-content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .projects{
        display: grid;
        width: 95%;
        height: 90%;
        border: 2px $primary solid;
        border-radius: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;

        .project{
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            height: 85%;
            border: 1px $secondary solid;
            border-radius: 5px;
            color: $secondary;
            font-size: 1.25rem;
            font-family: $font;
            justify-content: center;
            align-content: space-evenly;
            
            h3{
                width: 100%;
                text-align: center;
            }
            .project-image{
                width: 92.5%;

                img{
                    width: 100%;
                }
            }
            
            p{
                text-align: center;
                width: 100%;
            }
            a{
                color: $secondary;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

.project-range{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    margin: auto;
    bottom: 5%;

    i{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 3rem;
        height: 6rem;
        font-size: 4rem;
        font-weight: bold;
        margin: auto;
        cursor: pointer;
        color: $primary;
    }
    i:hover{
        background-color: lighten($secondary, 50)
    }
    .left-arrow{
        left: 2.75%;
        bottom: 32.5%;
    }
    .right-arrow{
        right: 2.75%;
        bottom: 32.5%;
    }

    input{
        width: 75%;
        cursor: pointer;
    }

    // Slider Styling from W3Schools
    .slider {
        -webkit-appearance: none;
        height: 0.5rem;
        border: 1px solid lighten($secondary, 30);
        border-radius: 5px;
        background: lighten($primary, 30);
        outline: none;
        opacity: 0.8;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
        
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%; 
        background: darken($primary, 5);
        cursor: pointer;
    }
        
    .slider::-moz-range-thumb {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background: $primary;
        cursor: pointer;
    }
}