.resume-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 1.25%;
}

.resume-summary{
    position: absolute;
    width: 97.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: $font;
    text-align: center;

    .summary-container{
        border: 1px $light solid;
        color: $light;
        background-color: $primary;
        cursor: pointer;
        font-family: $font;
        font-size: 1.2em;
        padding: 5% 0;
    }

    .summary-dropdown{
        display: none;
        opacity: 0.8;
        max-height: 260px;
        background-color: $secondary;
        color: $light;
        overflow-y: hidden;
        border: 1px $light solid;
        
        h3{
            background-color: darken($secondary, 15);
            font-size: 1.1rem;
        }

        p{
            font-size: 0.9rem;
            padding: 5px;
            cursor: pointer;
        }
        p:hover{
            background-color: $primary;
        }
    }

    .summary-dropdown:hover{
       overflow-y: scroll; 
    }
}

.work-experience{
    margin-top: 10%;
    width: 97.5%;
    text-align: center;
    color: $primary;
    font-family: $font;
    
    h2{
        border-bottom: 2px solid $primary;
    }

    .work-experiences{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: auto;

        div:first-child{
            font-size: 1.2rem;
            margin: 1rem;
            padding: 25px;
            border-right: 7px solid $primary;
        }
        div:last-child{
            font-size: 1.1rem;
            text-align: left;
            margin: 1rem;
            padding: 12.5px 50px;
        }
    }
}

.education{
    margin-top: 2.5%;
    width: 97.5%;
    text-align: center;
    color: $primary;
    font-family: $font;
    
    h2{
        border-bottom: 2px solid $primary;
    }

    .educations{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: auto;

        div:first-child{
            font-size: 1.2rem;
            margin: 1rem;
            padding: 25px;
            border-right: 7px solid $primary;
        }
        div:last-child{
            font-size: 1.1rem;
            text-align: left;
            margin: 1rem;
            padding: 12.5px 50px;
        }
    }
}