@keyframes leftToRight{
    from{ left: -150% }
    to{ left: 0 }
}

@keyframes rightToLeft{
    from{ right: -150% }
    to{ right: 0 }
}

@keyframes fadeSummaryIn{
    from{ opacity: 0 }
    to{ opacity: 1 }
}

.resume-summary{
    z-index: 3;
    position: relative;
    animation: leftToRight 1s ease-out backwards;

    .summary-container{
        i, p{
            animation: fadeSummaryIn 1.5s ease-out backwards 1s;
        }
    }
}

.work-experience{
    h2{
        position: relative;
        animation: rightToLeft 1s ease-out backwards;
    }
    div{
        animation: fadeSummaryIn 1.5s ease-out backwards 1s;
    }
}

.education{
    h2{
        position: relative;
        animation: rightToLeft 1s ease-out backwards;
    }
    div{
        animation: fadeSummaryIn 1.5s ease-out backwards 1s;
    }
}

@media only screen and (max-width: 1023px){
    .resume-content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .resume-summary{
        display: grid;
        width: 100%;
        grid-template-columns: 49.5% 49.5%;
        grid-template-rows: 85px 85px;
        font-family: $font;
        justify-content: center;

        .summary-container{
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            border: 1px $light solid;
            color: $light;
            background-color: $dark;
            cursor: pointer;
            font-family: $font;

            i{
                width: 100%;
                font-size: 0.8em;
                text-align: center;
            }

            p{
                width: 100%;
                font-size: 0.8em;
                text-align: center;
            }
        }
    
        #work, #certifications, #education, #programming{
            display: none;
        }
    
        .summary-dropdown{
            display: block;
            background: $dark;
            color: $light;
            overflow-y: hidden;
            border: 1px $light solid;
            
            h3{
                font-size: 0.9em;
                text-align: center;
                background-color: darken($secondary, 20);
            }
    
            p{
                font-size: 0.8em;
                text-align: center;
                cursor: pointer;
            }
            p:hover{
                background: darken($primary, 20);
            }
        }
    
        .summary-dropdown:hover{
           overflow-y: scroll;
        }
    }
    
    .work-experience{
        text-align: center;
        color: $dark;
        font-family: $font;
        width: 100%;
        
        h2{
            font-size: 1.3em;
            border-bottom: 2px solid $dark;
            margin: 1em;
        }
    
        .work-experiences{

            div{
                h4{
                    font-size: 0.8em;
                    padding: 0 15px;
                }

                h5{
                    font-size: 0.8em;
                    padding: 0 15px;
                }

                p{
                    font-size: 0.8em;
                    padding: 15px;
                }
            }
        }
    }
    
    .education{
        text-align: center;
        color: $dark;
        font-family: $font;
        width: 100%;
        
        h2{
            font-size: 1.3em;
            border-bottom: 2px solid $dark;
            margin: 1em;
        }
    
        .educations{

            div{
                h4{
                    font-size: 0.8em;
                    padding: 0 15px;
                }

                h5{
                    font-size: 0.8em;
                    padding: 0 15px;
                }

                p{
                    font-size: 0.8em;
                    padding: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px){
    .resume-content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 1.25%;
    }
    
    .resume-summary{
        position: absolute;
        width: 97.5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-family: $font;
        text-align: center;
    
        .summary-container{
            border: 1px $light solid;
            color: $light;
            background-color: $dark;
            cursor: pointer;
            font-family: $font;
            font-size: 1em;
            padding: 5% 0;
        }
    
        #work, #certifications, #education, #programming{
            display: none;
        }
    
        .summary-dropdown{
            display: block;
            max-height: 260px;
            background: $dark;
            color: $light;
            overflow-y: hidden;
            border: 1px $light solid;
            
            h3{
                background-color: darken($secondary, 20);
                font-size: 1em;
            }
    
            p{
                font-size: 0.9em;
                padding: 5px;
                cursor: pointer;
            }
            p:hover{
                background: darken($primary, 20);
            }
        }
    
        .summary-dropdown:hover{
           overflow-y: scroll; 
        }
    }
    
    .work-experience{
        margin-top: 11%;
        width: 97.5%;
        text-align: center;
        color: $dark;
        font-family: $font;
        
        h2{
            font-size: 1.25em;
            border-bottom: 2px solid $dark;
        }
    
        .work-experiences{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr;
            margin: auto;
    
            div:first-child{
                margin: 1em;
                padding: 25px;
                border-right: 4px solid $dark;
                h4{
                    font-size: 1em;
                }
                h5{
                    font-size: 0.9em;
                }
            }
            div:last-child{
                text-align: left;
                margin: 1em;
                padding: 12.5px 50px;
                h4{
                    font-size: 1em;
                }
                p{
                    font-size: 0.9em;
                }
            }
        }
    }
    
    .education{
        margin-top: 2.5%;
        width: 97.5%;
        text-align: center;
        color: $dark;
        font-family: $font;
        
        h2{
            font-size: 1.25em;
            border-bottom: 2px solid $dark;
        }
    
        .educations{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr;
            margin: auto;
    
            div:first-child{
                margin: 1em;
                padding: 25px;
                border-right: 4px solid $dark;
                h4{
                    font-size: 1em;
                }
                h5{
                    font-size: 0.9em;
                }
            }
            div:last-child{
                text-align: left;
                margin: 1em;
                padding: 12.5px 50px;
                h4{
                    font-size: 1em;
                }
                p{
                    font-size: 0.9em;
                }
            }
        }
    }
}

@media screen and (min-width: 1367px) and (max-width: 1919px){
    .resume-content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 1.25%;
    }
    
    .resume-summary{
        position: absolute;
        width: 97.5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-family: $font;
        text-align: center;
    
        .summary-container{
            border: 1px $light solid;
            color: $light;
            background-color: $dark;
            cursor: pointer;
            font-family: $font;
            font-size: 1em;
            padding: 5% 0;
        }
    
        #work, #certifications, #education, #programming{
            display: none;
        }
    
        .summary-dropdown{
            display: block;
            max-height: 260px;
            background: $dark;
            color: $light;
            overflow-y: hidden;
            border: 1px $light solid;
            
            h3{
                background-color: darken($secondary, 20);
                font-size: 1.1em;
            }
    
            p{
                font-size: 1em;
                padding: 5px;
                cursor: pointer;
            }
            p:hover{
                background: darken($primary, 20);
            }
        }
    
        .summary-dropdown:hover{
           overflow-y: scroll; 
        }
    }
    
    .work-experience{
        margin-top: 11%;
        width: 97.5%;
        text-align: center;
        color: $dark;
        font-family: $font;
        
        h2{
            font-size: 1.25em;
            border-bottom: 2px solid $dark;
        }
    
        .work-experiences{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr;
            margin: auto;
    
            div:first-child{
                margin: 1em;
                padding: 25px;
                border-right: 4px solid $dark;
                h4{
                    font-size: 1.1em;
                }
                h5{
                    font-size: 1em;
                }
            }
            div:last-child{
                text-align: left;
                margin: 1em;
                padding: 12.5px 50px;
                h4{
                    font-size: 1.1em;
                }
                p{
                    font-size: 1.0em;
                }
            }
        }
    }
    
    .education{
        margin-top: 2.5%;
        width: 97.5%;
        text-align: center;
        color: $dark;
        font-family: $font;
        
        h2{
            font-size: 1.25em;
            border-bottom: 2px solid $dark;
        }
    
        .educations{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr;
            margin: auto;
    
            div:first-child{
                margin: 1em;
                padding: 25px;
                border-right: 4px solid $dark;
                h4{
                    font-size: 1.1em;
                }
                h5{
                    font-size: 1em;
                }
            }
            div:last-child{
                text-align: left;
                margin: 1em;
                padding: 12.5px 50px;
                h4{
                    font-size: 1.1em;
                }
                p{
                    font-size: 1em;
                }
            }
        }
    }
}

@media screen and (min-width: 1920px){
    .resume-content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 1.25%;
    }
    
    .resume-summary{
        position: absolute;
        width: 97.5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-family: $font;
        text-align: center;
    
        .summary-container{
            border: 1px $light solid;
            color: $light;
            background-color: $dark;
            cursor: pointer;
            font-family: $font;
            font-size: 1.25em;
            padding: 5% 0;
        }
    
        #work, #certifications, #education, #programming{
            display: none;
        }
    
        .summary-dropdown{
            display: block;
            max-height: 260px;
            background: $dark;
            color: $light;
            overflow-y: hidden;
            border: 1px $light solid;
            
            h3{
                background-color: darken($secondary, 20);
                font-size: 1.1em;
            }
    
            p{
                font-size: 1em;
                padding: 5px;
                cursor: pointer;
            }
            p:hover{
                background: darken($primary, 20);
            }
        }
    
        .summary-dropdown:hover{
           overflow-y: scroll; 
        }
    }
    
    .work-experience{
        margin-top: 8%;
        width: 97.5%;
        text-align: center;
        color: $dark;
        font-family: $font;
        
        h2{
            font-size: 1.25em;
            border-bottom: 2px solid $dark;
        }
    
        .work-experiences{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr;
            margin: auto;
    
            div:first-child{
                margin: 1em;
                padding: 25px;
                border-right: 4px solid $dark;
                h4{
                    font-size: 1.1em;
                }
                h5{
                    font-size: 1em;
                }
            }
            div:last-child{
                text-align: left;
                margin: 1em;
                padding: 12.5px 50px;
                h4{
                    font-size: 1.1em;
                }
                p{
                    font-size: 1.0em;
                }
            }
        }
    }
    
    .education{
        margin-top: 2.5%;
        width: 97.5%;
        text-align: center;
        color: $dark;
        font-family: $font;
        
        h2{
            font-size: 1.25em;
            border-bottom: 2px solid $dark;
        }
    
        .educations{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr;
            margin: auto;
    
            div:first-child{
                margin: 1em;
                padding: 25px;
                border-right: 4px solid $dark;
                h4{
                    font-size: 1.1em;
                }
                h5{
                    font-size: 1em;
                }
            }
            div:last-child{
                text-align: left;
                margin: 1em;
                padding: 12.5px 50px;
                h4{
                    font-size: 1.1em;
                }
                p{
                    font-size: 1em;
                }
            }
        }
    }
}